<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Flexbox</title>
    <style>
      .wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
      }
      .wrapper > div:nth-child(odd) {
        background-color: blueviolet;
        flex: 2;
      }
      .wrapper > div:nth-child(even) {
        background-color: pink;
        flex: 1;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
    </div>

    <!-- Show flex direction -->
    <!-- Show wrapping -->
    <!-- show flex size i.e flex:2 -->
  </body>
</html>
